[include]
    path = ~/.enviroments/.gitconfig.local
[color]
	ui = auto
    diff = auto
    status = auto
    branch = auto
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[alias]
    co = checkout
    br = branch -vv
    st = status
    cm = commit
    df = diff
    dfw = diff --word-diff
    ph = push
    pl = pull
    ft = fetch
    sm = submodule
    sb = show-branch
    graph-log = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %C(cyan)%cn %Cred%d %Creset%s'
    gl = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %C(cyan)%cn %Cred%d %Creset%s'
    merge-conflict-log = log --merge -p --date=short --decorate=short --pretty=format:'%C(yellow bold)%m %Cgreen%h %Creset%cd %C(cyan)%cn %Cred%d %Creset%s'
    mcl = log --merge -p --date=short --decorate=short --pretty=format:'%C(yellow bold)%m %Cgreen%h %Creset%cd %C(cyan)%cn %Cred%d %Creset%s'
    merge-cancel = reset --hard HEAD
    mc = reset --hard HEAD
    merge-reset = reset --hard ORIG_HEAD
    mr = reset --hard ORIG_HEAD
[core]
	editor = vim -c \"set fenc=utf-8\"
[url "https://"]
	insteadOf = git://
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
