[submodule "bin/.nvm"]
	path = bin/.nvm
	url = git://github.com/creationix/nvm.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule ".zsh"]
	path = .zsh
	url = git://github.com/zsh-users/zsh-completions.git
